header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  nav a {
    margin-right: 10px;
  }
  .logo {
    max-width: 200px;
  }
  .info-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
  }

  .footer {
    background-color: #f2f2f2;
    color: #888;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links ul li {
    margin-right: 10px;
}

.footer-links ul li a {
    color: #888;
    text-decoration: none;
}

.footer-links ul li a:hover {
    color: #333;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social ul li a {
    color: #888;
    text-decoration: none;
    font-size: 18px;
}

.footer-social ul li a:hover {
    color: #333;
}

.footer-bottom {
    margin-top: 20px;
}